# Lamatic Studio -> Settings -> API Keys
LAMATIC_API_KEY=

# Lamatic Studio -> Project settings
LAMATIC_PROJECT_ID=

# Lamatic Studio -> API Docs -> Endpoint
LAMATIC_API_URL=

# Flow details -> Flow ID
DECISION_PREMORTEM_FLOW_ID=
