DISCOVERY_FLOW_ID="Your discovery-flow Flow ID"
BLUEPRINT_FLOW_ID="Your blueprint-flow Flow ID"
EXECUTION_FLOW_ID="Your execution-flow Flow ID"
LAMATIC_API_URL="Your Lamatic Project API URL"
LAMATIC_PROJECT_ID="Your Lamatic Project ID"
LAMATIC_API_KEY="Your Lamatic API Key"