LAMATIC_API_URL="YOUR_API_ENDPOINT"
LAMATIC_PROJECT_ID="YOUR_PROJECT_ID"
LAMATIC_API_KEY="YOUR_API_KEY"
FLOWCELL_PRIMARY_FLOW_ID="YOUR_PRIMARY_FLOW_ID"
FLOWCELL_FALLBACK_FLOW_ID="YOUR_FALLBACK_FLOW_ID"
FLOWCELL_MAX_ESTIMATED_USD="1.00"
